* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: sans-serif;
}

body {
    display: grid;
    margin-top: 8rem;
    justify-content: center;
    overflow-y: hidden;
}

.App {
    background-color: rgb(245, 245, 220);
    box-shadow: 9px 12px 13px 6px rgba(119, 119, 119, 0.78);
    display: grid;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 40rem;
    width: 25rem;
    border-radius: 10px;
    transition: 2s;
}

.App:hover {
    transform: scale(1.05);
}

.input {
    display: grid;
    /* border: 1px solid black; */
    font-size: 30px;
}

input {
    font-size: 30px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 9px 12px 13px 6px rgba(119, 119, 119, 0.78);
}

button {
    font-size: 20px;
    padding: 5px 0;
    margin-top: 30px;
    box-shadow: 9px 12px 13px 6px rgba(119, 119, 119, 0.78);
    border-radius: 8px;
    border: none;
    background: none;
}

.square {
    display: grid;
    /* border: 1px solid black; */
    height: 20rem;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    font-size: 35px;
    box-shadow: 9px 12px 13px 6px rgba(119, 119, 119, 0.78);
}